.App {
  background: lightgray;
  height: 100vh;
}

.add-column {
  display: flex;
  justify-content: center\;;
}

.board {
  padding: 60px 160px;
  /* display: flex; */
  /* align-items: center; */
  justify-content: space-between;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}

.column {
  background: #ffffff;
  width: 400px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px;
  border: none;
}

.mark_complete {
  background: greenyellow;
  color: #000;
}

.mark_pending {
  background: #ff8c00;
  color: #000;
}

.add-task {
  background: #008000;
  color: #fff;
  margin-left: 5px;
}

.update-task-container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.edit-task {
  background: #778899;
  color: #fff;
}

.update-task-btn {
  margin-right: 5px;
  background: #008000;
  color: #fff;
}

.cancel-task-btn {
  background: #ef0107;
  color: #fff;
}

.delete-task {
  background: #ef0107;
  color: #fff;
}
